{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <title>CRUD App</title>

    <style>
      body {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Detail</h1>

      <div>
        <a href="{% url 'crud:index' %}" class="btn btn-success">Kembali</a>
      </div>

      <br>

      <div>
        <h2>{{ task.title }}</h2>

        <p>
            {{ task.description }}
        </p>
      </div>
  </div>
 
  </body>
</html>